<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pynorama</title>
</head>
<body>
<ul>
    {% for view in views %}
    <li><a href="/view/{{ view.get_name() }}/">{{ view.get_description() }}</a></li>
    {% endfor %}
</ul>
<div>
    <form method="post" action="/reload/">
        <button type="submit" value="Reload datasets">Refresh views</button>
    </form>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>