node_modules/
.pydevproject
.project
.idea/
.ipynb_checkpoints/
.venv
*.pyc
bin/
*/static/*.js
*/static/*.js.map
build/
dist/
*.egg-info/
docs/source/pynorama*.rst
docs/source/CHANGES.rst
docs/source/README.rst
docs/source/modules.rst
.eggs/
.cache/
__pycache__/